*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 50px;
}
h1{
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
}
#button{
    height: 40px;
    width: 140px;  
   
}
#text{
    height: 150px;
    width: 600px;
    vertical-align: middle;
}
